body{
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    margin: auto;
}
h1{
    height: 200px;
    background-image: url("images/bgsky3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    color: darkblue;
    margin-top: 0;
    margin-bottom: 0;
}
h1 > p:first-child{
    font-size: 300%;
    margin-top: 0;
    margin-bottom: 0;
}
h1 > p:last-child{
    margin-top: 0;
    font-size: 240%;
}
h1 > img{
    position: absolute;
    margin-bottom: 60px;
    margin-right: 90px;
    top: 50px;
    right: 250px;
}
news{
    width: 25%;
    box-sizing: border-box;
    background-color: #dddddd;
    border: 1px solid #999999;
    float: right;
    color: #666666;
    font-size: 90%;
}
news>p{
    margin-left: 10px;
    margin-right: 10px;
}
news>h3{
    color: white;
    background-color: blue;
    font-size: 120%;
    text-align: center;
}
hoofddeel{
    width: 75%;
    padding-right: 10px;
    float: left;
    box-sizing: border-box;
    display: inline-block;
}
.introduction{
    display: block;
    padding: 0;
    text-align: justify;
    background-color: white;
    color: black;
}
.text{
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
logo{
    height: 150px;
    float: left;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
hoofddeel > div > p >span{
    color: blue;
    font-weight: bold;
    font-style: italic;
}
gallery{
    background-color: #999999;
    display: block;
}
.foto{
    padding: 10px;
    background-color: white;
    border: 1px dotted #999999;
    height: 180px;
    width: 180px;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
extrainfo{
    background-color: #666666;
    line-height: 2em;
    color: white;
    width: 100%;
    display: inline-block;
}
items1{
    padding-left: 120px;
    width: 50%;
    box-sizing: border-box;
    float: left;
}
items2{
    padding-left: 120px;
    width: 50%;
    box-sizing: border-box;
    float: right;
}
a:hover{
    color: red;
}
bedrijfsnaam {
    text-align: center;
    background: white;
    color: black;
    margin-top: 20px;
}

