body{
    margin: auto;
   font-family: Verdana,Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    width: 95%;
}
header{
    text-align: center;
}
section,
footer {
    padding: 10px;
    width: 70%;
    float: left;
}

body > article {
    margin-top: 0;
    padding: 10px;
    border: 1px solid blue;
    text-align: center;
    float: right;
    width: 30%;
    box-sizing: border-box;
}

body > article > h1{
    margin-top: 0;
}
body > article > h2{
    color: #007e7e;
}
body > article > h1{
    font-size: 150%;
}
body > article > h2{
    font-size: 130%;
}
.foto{
    margin-bottom: 0;
    content: "";
    height: 50px;
    width: 200px;
    background-image: url("images/cocktail.gif");
    background-size: contain ;
    background-position: center;
    background-repeat: repeat;
    display: inline-block;

}
section{
    width: 70%;
    box-sizing: border-box;
    float: left;
}
section > article > h1,h2{
    color: #0070A8;
    font-size: 30px;
}
body > footer{
    font-size: 0.6em;
    text-align: center;
    position: relative;
}
body > article > p > a:hover{
    color: brown;
    background-color: brown;
}
#guarantee{
    margin: 30px;
    padding: 20px;
    color: #444444;
    background-color: #a7cece;
    border: 4px dotted white ;
    position: relative;
}
.foto1{
    content: "";
    width: 50px;
    height: 50px;
    float: left;
    background-image: url("images/background.gif");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}