body{
    width: 50%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    border-style: solid;
}
table{
    border-collapse: collapse;
    width: 100%;
}
h1{
    text-align: center;
    color: rgb(170,170,200);
    background-color: rgb(35,37,70) ;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0;
}
th{
    font-size: 40px;
    padding: 10px;
    background-color: rgb(200,190,240)  ;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid black;
}
td{
    padding: 5px;
    border: 1px solid black;

}
td:first-child,td:last-child{
    background-color:  rgb(255, 220, 220);
}
tr > .anderemaand {
    background-color: rgb(128, 128, 128);
}
.vrijedag{
    background-color: rgb(250,120,120);
}
