
body{
    text-align: center;
    margin: auto;
}
.grid{
    display: grid;
    grid-template-columns: 5% 10% 70% 10% 5%;
    grid-template-rows: repeat(5, auto);

}

@media screen and (max-width: 786px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, auto);

    }

    .caption {
        font-family: helvetica, serif;
        font-size: 16px;
        margin-top: 12px;

    }

    .gridHeader {
        background-color: #dcd6fe;
       grid-row: 1;
        padding: 20px;

    }

    .gridNav {
        background-color: #c6c0ff;
        grid-row: 2;
        padding: 20px;
    }

    .gridMain {
        background-color: #f9f6d2;
        grid-row: 3;
        padding: 20px;
    }

    .gridAside {
        padding: 20px;
        background-color: #d4ffd1;
        grid-row: 4;
    }

    .gridFooter {
        padding: 20px;
        background-color: #ffd1d1;
        grid-row: 5;
    }
}
@media screen and (min-width: 786px) {


    .gridHeader {
        background-color: #dcd6fe;
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 7;
        padding: 20px;
    }

    .gridNav {
        background-color: #c6c0ff;
        grid-row: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        ;
    }

    .gridMain {
        background-color: #f9f6d2;
        grid-row: 2;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .gridAside {
        background-color: #d4ffd1;
        grid-row: 2;
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .gridFooter {
        background-color: #ffd1d1;
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 7;
        padding: 20px;
    }
}