/** Volgende CSS gaan we ze geven **/
.respimg {
    width: 100%;
    height: auto;
    display: block;
}

body{
    text-align: center;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: auto;
    width: 95%;
}
body > header{
    position: relative;
    display: flex;
    margin: 0 auto;
}
header > img{
    justify-content: center;
    height: 50px;
}
nav{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7,auto);
    padding-bottom: 20px;
    padding-top: 20px;
}
nav > span{
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #ebe8e8 ;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}
nav > span > a{
    color: #5b4746 ;
    font-size: 13px;
}
nav > span > a:hover{
    border-bottom: 2px solid #fff100;
}
nav > span:last-child{
    border-right: none;
}
main{
    border-top: 1px solid #ebe8e8;
}
main > div{
    display: block;
}
main > div >h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px #8D99AE;
    font-size: 40px;
    height: 500px;
    background-position: center;
    background-image: url("images/headerimage.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
body > main > section{
    margin-top: 50px;
}
body > main > section > h1{
    font-size: 2.5em;
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
body > main > section > section{
    display: grid;
    grid-template-columns: repeat(2,auto);
}
body > main > section > section > article{
    margin-right:30px ;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    display: grid;
    grid-column: 1;
}
body > main > section > section > div{
    display: grid;
    grid-column: 2;
}
body > main > section > section > article > h1{
    display: flex;
    flex-direction: row;
    justify-content: start;

}
main > section > section > article > div{
    display:grid;
}
main > section > section > article > div > img{
    display: block;
    width: 500px;
    height: auto;
}

@media screen and (max-width: 770px) {

    header{
        display: block;
        width: 600px;
        border-bottom: 1px solid #ebe8e8 ;
    }
    nav{
        display: grid;
        width: 600px;
        text-align: center;
        grid-template-columns: repeat(7,auto);
        padding-bottom: 20px;
        padding-top: 20px;
    }
    body > main > section{
        width: 600px;
    }
}
@media screen and (min-width: 770px) and (max-width: 1000px) {
    header{
        display: block;
        width: 750px;
        border-bottom: 1px solid #ebe8e8 ;
    }
    header > img{
        height: 50px;
    }
    nav{
        display: grid;
        width: 750px;
        text-align: center;
        grid-template-columns: repeat(7,auto);
        padding-bottom: 20px;
        padding-top: 20px;
    }
    main > h1{
        font-size: 5em;
    }
    body > main > section{
        width: 750px;
    }
}
@media screen and (min-width: 1000px) {
    header{
        width: 980px;
        border-bottom: 1px solid #ebe8e8 ;
        position: relative;
    }
    .blakline{
        position: absolute;
        width: 100%;
        left:0;
        border-bottom: 1px solid #ebe8e8 ;
    }
    nav{
        display: grid;
        width: 980px;
        grid-template-columns: repeat(7,auto);
        padding-bottom: 20px;
        padding-top: 20px;
    }
    main > h1{
        font-size: 5em;
    }
    body > main > section{
        width: 980px;
    }
}