a:before {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url("icoontje.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}
a {
    padding: 30px;
}