body{
    font-family: Verdana, sans-serif;
    background:silver ;
    color:darkblue ;
}
h1{
    font-variant: small-caps;
    background: #FF0000;
}
a{
color: red;
    padding:10px;
}
a:hover{
    color: aqua;
}
.stippeltjesrand{
    border: 1px dotted black;
    color: orange;
}