div {
    vertical-align: middle;
}

.area {
    width:100px;
    height:100px;
    background:red;
    display:block;
}

.tall {
    height:150px;
}

.short {
    height:50px;
}

.floaty{
    float:left;
    background:green;
}

.break {
    clear:both;
    background:blue;
}